.bg.green {
  background: #32b375;
}
.bg.lightgray {
  background: #f2f2f2;
}
.left {
  float: left;
  margin-right: 20px;
}
.right {
  float: right;
  margin-left: 20px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.red {
  color: #C02815;
}
.invisible {
  visibility: hidden;
}
img.rounded {
  display: block;
  border-radius: 50%;
}
.rotate-45 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.rotate-90 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.centered {
  float: none!important;
  margin: auto!important;
}
.wrapper {
  padding: 16.66666667px;
}
*:link,
*:visited,
*:active,
*:focus {
  -webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
          transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
}
*:focus,
*:hover,
*:active {
  outline: none;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #666666;
  line-height: 1.5;
}
body * {
  word-wrap: break-word;
}
::-moz-selection,
::-moz-selection {
  background: #eee;
  text-shadow: none;
}
::selection,
::-moz-selection {
  background: #eee;
  text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #404040;
  line-height: inherit;
  margin: 15px 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #d64242;
}
a {
  text-decoration: none;
  color: #4d4d4d;
}
a:hover {
  color: #333333;
}
a.underline {
  border-bottom: 1px solid;
}
p {
  color: inherit;
  margin: 0 0 10px;
  line-height: 1.6;
}
p.emphasized {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 15px 0;
}
p a {
  border-bottom: 1px solid #bbb;
  color: #666666;
}
ol,
ul {
  margin: 0 0 25px 0;
  padding: 0 0 0 25px;
}
li {
  position: relative;
  display: block;
  line-height: 1.5;
  margin: 5px 0 0;
  color: #666666;
}
li a {
  color: inherit;
}
li:before {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: -15px;
  background: #ccc;
  border-radius: 100%;
  content: '';
  display: block;
}
hr {
  width: 100%;
  height: 1px;
  background: #ffffff;
  border: none;
  clear: both;
  margin: 25px 0;
}
hr.thin {
  background: #e7e7ec;
}
iframe {
  border: none;
}
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}
figure {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  border: none;
  border-radius: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
menu {
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: none;
  padding: 0;
}
form label {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  margin: 0 0 5px;
  font-weight: 500;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=submit],
form input[type=search],
form textarea {
  font-size: 20px;
  font-size: 1.25rem;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #cbcbd2;
  box-shadow: none;
  margin: 0 0 10px;
  padding: 10px;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=submit]:focus,
form input[type=search]:focus,
form textarea:focus {
  border: 1px solid #666666;
}
form input[type=submit],
form input[type=search] {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  border-radius: 3px;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
}
form input[type=submit].btn-default,
form input[type=search].btn-default,
form input[type=submit].epm-submit-chimp,
form input[type=search].epm-submit-chimp {
  box-shadow: inset 0 0 0 1px #cbcbd2;
  background: none;
}
form input[type=submit].btn-default:hover,
form input[type=search].btn-default:hover,
form input[type=submit].epm-submit-chimp:hover,
form input[type=search].epm-submit-chimp:hover {
  background: #f2f2f2;
}
form input[type=submit].btn-first,
form input[type=search].btn-first {
  padding-left: 0;
}
form input[type=submit]-nav,
form input[type=search]-nav {
  margin-bottom: 0;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
}
form input[type=submit]-nav:first-child,
form input[type=search]-nav:first-child {
  padding-left: 0;
}
form input[type=submit]-nav:last-child,
form input[type=search]-nav:last-child {
  padding-right: 0;
}
form input[type=submit]-hamburg,
form input[type=search]-hamburg {
  position: relative;
  width: 25px;
}
form input[type=submit]-hamburg img,
form input[type=search]-hamburg img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
form input[type=submit]-hamburg.fs-swap-active,
form input[type=search]-hamburg.fs-swap-active {
  background: #ffffff;
}
form input[type=submit]-mobile,
form input[type=search]-mobile {
  display: block;
  text-align: left;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
}
form input[type=submit].btn-lg,
form input[type=search].btn-lg {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
form input[type=submit].btn-sm,
form input[type=search].btn-sm {
  font-size: 12px;
  font-size: 0.75rem;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
form input[type=submit].disabled,
form input[type=search].disabled {
  background: #f2f2f2;
  color: #cbcbd2;
  box-shadow: inset 0 0 0 1px #e7e7ec;
  pointer-events: none;
}
form input[type=submit].btn-link,
form input[type=search].btn-link {
  box-shadow: inset 0 0 2px transparent;
  text-decoration: underline;
}
form input[type=submit].btn-primary,
form input[type=search].btn-primary {
  color: #ffffff;
  background: #666666;
}
form input[type=submit].btn-primary:hover,
form input[type=search].btn-primary:hover {
  background: #4d4d4d;
}
form input[type=submit].btn-danger,
form input[type=search].btn-danger {
  color: #ffffff;
  background: #d64242;
}
form input[type=submit].btn-danger.btn-default,
form input[type=search].btn-danger.btn-default {
  color: #d64242;
  background: none;
  box-shadow: inset 0 0 0 1px #d64242;
}
form input[type=submit].btn-success,
form input[type=search].btn-success {
  color: #ffffff;
  background: #74c080;
}
form input[type=submit].btn-success.btn-default,
form input[type=search].btn-success.btn-default {
  color: #74c080;
  background: none;
  box-shadow: inset 0 0 0 1px #74c080;
}
.alert {
  font-size: 15px;
  font-size: 0.9375rem;
  background: #e7e7ec;
  color: #666666;
  display: block;
  margin: 0 0 10px 0;
  font-weight: 400;
  border-radius: 3px;
  padding: 8px 15px;
}
.alert p {
  margin: 0;
  color: inherit;
}
.alert.alert-danger {
  background: #d64242;
  color: #ffffff;
}
.alert.alert-success {
  background: #74c080;
  color: #ffffff;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.divider {
  background: #e7e7ec;
}
.divider.vertical {
  width: 1px;
  margin: auto;
}
.btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 0;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
  border-radius: 3px;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
}
.btn.btn-default,
.btn.epm-submit-chimp {
  box-shadow: inset 0 0 0 1px #cbcbd2;
  background: none;
}
.btn.btn-default:hover,
.btn.epm-submit-chimp:hover {
  background: #f2f2f2;
}
.btn.btn-first {
  padding-left: 0;
}
.btn-nav {
  margin-bottom: 0;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
}
.btn-nav:first-child {
  padding-left: 0;
}
.btn-nav:last-child {
  padding-right: 0;
}
.btn-hamburg {
  position: relative;
  width: 25px;
}
.btn-hamburg img {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn-hamburg.fs-swap-active {
  background: #ffffff;
}
.btn-mobile {
  display: block;
  text-align: left;
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-size: 1.5rem;
  height: 50px;
  line-height: 50px;
}
.btn.btn-lg {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
.btn.btn-sm {
  font-size: 12px;
  font-size: 0.75rem;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
.btn.disabled {
  background: #f2f2f2;
  color: #cbcbd2;
  box-shadow: inset 0 0 0 1px #e7e7ec;
  pointer-events: none;
}
.btn.btn-link {
  box-shadow: inset 0 0 2px transparent;
  text-decoration: underline;
}
.btn.btn-primary {
  color: #ffffff;
  background: #666666;
}
.btn.btn-primary:hover {
  background: #4d4d4d;
}
.btn.btn-danger {
  color: #ffffff;
  background: #d64242;
}
.btn.btn-danger.btn-default {
  color: #d64242;
  background: none;
  box-shadow: inset 0 0 0 1px #d64242;
}
.btn.btn-success {
  color: #ffffff;
  background: #74c080;
}
.btn.btn-success.btn-default {
  color: #74c080;
  background: none;
  box-shadow: inset 0 0 0 1px #74c080;
}
#error {
  position: relative;
}
@media screen and (min-width: 300px) {
  #error {
    height: 350px;
  }
}
@media screen and (min-width: 740px) {
  #error {
    height: 600px;
  }
}
@media screen and (min-width: 980px) {
  #error {
    height: 600px;
  }
}
#error--centered {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
#mobile-menu {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  padding-top: 100px;
  display: none;
}
#mobile-menu.fs-swap-active {
  display: block;
}
#header {
  padding: 25px 0;
  position: relative;
  z-index: 99;
}
#header--logo {
  margin: 0;
  font-weight: 700;
  color: #d64242;
}
@media screen and (min-width: 300px) {
  #header-navigation {
    text-align: left;
  }
}
@media screen and (min-width: 740px) {
  #header-navigation {
    text-align: right;
  }
}
#header .menu {
  padding: 0;
  margin: 0;
}
#header .menu li {
  margin: 0;
}
#header .menu li:before {
  display: none;
}
.entry {
  margin-bottom: 100px;
}
.entry-header {
  margin-bottom: 25px;
}
.entry-title {
  margin-bottom: 5px;
}
.entry img {
  display: block;
  max-width: 100%;
  height: auto;
}
.widget-title {
  margin-bottom: 5px;
}
.widget-area .xoxo {
  padding-left: 0;
}
#splash {
  color: rgba(255, 255, 255, 0.5);
  background: #333333;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#splash--centered {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
#bag {
  position: relative;
}
#bag--wrapper {
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 0;
  z-index: 99;
}
@media screen and (min-width: 300px) {
  #bag--wrapper {
    width: 300px;
  }
}
@media screen and (min-width: 740px) {
  #bag--wrapper {
    width: 400px;
  }
}
#bag img {
  display: block;
  max-width: 100%;
  height: auto;
}
